a,
a:active,
a:focus,
a:hover,
a:visited {
  color: $fgColor1;
  text-decoration: none;
}

a.f,
a.f:active,
a.f:focus,
a.f:hover,
a.f:visited {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: flex-start;
}

a.f > span {
  margin-left: 10px;
}

a.button,
a.button:active,
a.button:focus,
a.button:visited {
  background: $bgColor3;
  border-radius: 40px;
  color: $fgColor1;
  filter: drop-shadow(black 0px 1px 1px);
  padding: 20px 25px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background: $bgColor4;
  }
}