a,
a:active,
a:focus,
a:hover,
a:visited {
  color: $fgColor1;
  text-decoration: none;
}

a.f,
a.f:active,
a.f:focus,
a.f:hover,
a.f:visited {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: flex-start;
}

a.f > span {
  margin-left: 10px;
}