@charset "utf-8";

@import "containers/about";
@import "containers/header";
@import "containers/home";
@import "containers/footer";
@import "containers/post";
@import "containers/posts";

.padded-content {
  background: $bgColor2;
  box-sizing: border-box;
  padding: 80px;
  width: 100%;
  @media only screen and (max-width: 768px) {
    padding: 40px;
  }
  @media only screen and (min-width: 1200px) {
    padding: 80px 15%;
  }
}