header {
  align-items: center;
  background-color: $bgColor1;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(black 0px 2px 2px);
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  @media only screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header > a > img.brand {
  padding-top: 10px;
}

header > nav > ul {
  display: flex;
  flex-flow: row;
  align-items: center;
}

header > nav > ul > li {
  padding-left: 15px;

  &:first-of-type {
    @media only screen and (max-width: 768px) {
      margin-top: -2px;
    }
  }
}