---
layout: base
---
<div class="padded-content">
    <section id="posts">
        {% assign first_post=site.posts | first %}
        {% include posts/card.html excerpt=first_post.excerpt post=first_post %}
        <div class="spacer"></div>
        <div class="post-list">
        {% for post in site.posts limit:2 offset:1 %}
            {% include posts/card.html post=post %}
        {% endfor %}
            <div class="post-button">
                <a
                    class="button"
                    href="{{ site.data.links.read_more.href }}"
                    title="{{ site.data.links.read_more.title }}">
                    {{ site.data.links.read_more.label }}
                </a>
            </div>
        </div>
    </section>
</div>