<footer>
    <nav>
        <ul class="vb">
            {% assign label_linkedin = site.data.links.linkedin.label %}
            {% assign label_malt = site.data.links.malt.label %}
            {% assign label_github = site.data.links.github.label %}
            <li>{% include links/linkedin.html label=label_linkedin %}</li>
            <li>{% include links/malt.html label=label_malt %}</li>
            <li>{% include links/github.html label=label_github %}</li>
            <li>
                <a
                    class="f"
                    href="mailto:{{ site.email }}">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="spacer"></div>
    <div class="company">
        {% include links/brand.html %}
        <br>
        <span>{{ site.data.legal.status }}</span>
        <span>{{ site.data.legal.copyright }}</span>
        <span>{{ site.data.legal.mention }}</span>
        <br>
        <p>
            Made with
            <a
                href="{{ site.data.links.view_sources.href }}"
                target="_blank"
                title="{{ site.data.links.view_sources.title }}">
                {{ site.data.links.view_sources.label }}
            </a>
        </p>
    </div>
</footer>