<header>
    <a href="{{ site.url }}">
        <img
            alt="{{ site.data.links.header.brand }}"
            class="brand"
            src="{{ '/assets/images/brand_white_429x90.png' | prepend: site.baseurl }}"
            title="{{ site.data.links.header.brand }}">
    </a>
    <nav>
        <ul>
            <li>
                <a href="{{ site.data.links.linkedin.href }}">
                    <img
                        alt="{{ site.data.links.linkedin.title }}"
                        src="{{ '/assets/images/icon_linkedin_52x52.png' | prepend: site.baseurl }}"
                        target="_blank"
                        title="{{ site.data.links.linkedin.title }}">
                </a>
            </li>
            <li>
                <a href="{{ site.data.links.malt.href }}">
                    <img
                    alt="{{ site.data.links.malt.title }}"
                    src="{{ '/assets/images/icon_malt_54x54.png' | prepend: site.baseurl }}"
                    target="_blank"
                    title="{{ site.data.links.malt.title }}">
                </a>
            </li>
            <li>
                <a href="{{ site.data.links.github.href }}">
                    <img
                    alt="{{ site.data.links.github.title }}"
                    src="{{ '/assets/images/icon_github_48x48.png' | prepend: site.baseurl }}"
                    target="_blank"
                    title="{{ site.data.links.github.title }}">
                </a>
            </li>
        </ul>
    </nav>
</header>