<meta charset="utf-8"/>
<meta name="description" content="{{ site.data.meta.description }}"/>
<meta name="robots" content="index, follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property=”og:description” content="{{ site.data.meta.description }}">
<meta property=”og:image” content="{{ site.data.meta.image }}">
<meta property=”og:site_name” content="{{ site.data.meta.title }}">
<meta property=”og:title” content="{{ site.data.meta.title }}">
<meta property=”og:type” content="{{ site.data.meta.og_type }}">
<meta property=”og:url” content="{{ page.url | prepend: site.url }}">
<meta name="twitter:card" content="{{ site.data.meta.twitter_card }}"/>
<meta name="twitter:description" content="{{  site.data.meta.description }}"/>
<meta name="twitter:image" content="{{ site.data.meta.image }}"/>
<meta name="twitter:site" content="{{ site.data.meta.twitter_site }}"/>
<meta name="twitter:title" content="{{ site.data.meta.title }}"/>
<meta name="twitter:url" content="{{ page.url | prepend: site.url }}"/>