/**
 * Set of variables for the target color palette.
 */
@charset "utf-8";

$bgColor1: #2D2A2A;
$bgColor2: #1E1E1E;
$bgColor3: #0d0d0d;
$bgColor4: #111111;
$bgColor5: #d9d9d9;

$fgColor1: #d9d9d9;
$fgColor2: #1E1E1E;