/**
 * TBD
 */


html, body {
    background-color: $color2;
    padding: 0;
    margin: 0;
    width: 100%;
}

header {
    align-items: center;
    background-color: $color1;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

header > a > img.brand {
    padding-top: 3.5px;
    width: 100px;
}

header > nav > ul {
    display: flex;
    flex-flow: row;
    align-items: center;
}

header > nav > ul > li {
    padding-left: 15px;
    list-style: none;
}

header > nav > ul > li > a > img {
    height: 20px;
    width: 20px;
}

footer {
    background-color: $color1;
    width: 100%;
}
