/**
 * TBD
 */

html, body {
    background-color: $color2;
    width: 100%;
}

header {
    background-color: $color1;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

footer {
    background-color: $color1;
    width: 100%;
}
